In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Admission_Prediction.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [2]:
df.drop('Serial No.',axis = 1, inplace=True)

In [3]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [4]:
df['chance']=pd.cut(df['Chance of Admit'],bins=[0,0.75,1],labels=['No','Yes'],)

In [5]:
df.dropna(axis=0, how='any', inplace=True)

In [6]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,chance
0,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92,Yes
1,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76,Yes
3,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80,Yes
4,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65,No
5,330.0,115.0,5.0,4.5,3.0,9.34,1,0.90,Yes

In [7]:
df.drop(['Chance of Admit'],axis = 1,inplace=True)

In [8]:
df.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research chance
0      337.0        118.0                4.0  4.5  4.5  9.65         1    Yes
1      324.0        107.0                4.0  4.0  4.5  8.87         1    Yes
3      322.0        110.0                3.0  3.5  2.5  8.67         1    Yes
4      314.0        103.0                2.0  2.0  3.0  8.21         0     No
5      330.0        115.0                5.0  4.5  3.0  9.34         1    Yes

In [9]:
# Label Encoder automatically transfer categorical data into numeric
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["chance"] = label_encoder.fit_transform(df['chance'])

In [10]:
df.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research  chance
0      337.0        118.0                4.0  4.5  4.5  9.65         1       1
1      324.0        107.0                4.0  4.0  4.5  8.87         1       1
3      322.0        110.0                3.0  3.5  2.5  8.67         1       1
4      314.0        103.0                2.0  2.0  3.0  8.21         0       0
5      330.0        115.0                5.0  4.5  3.0  9.34         1       1

In [11]:
x = df.drop(['chance'],axis = 1)
y = df['chance']

In [12]:
x.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0      337.0        118.0                4.0  4.5  4.5  9.65         1
1      324.0        107.0                4.0  4.0  4.5  8.87         1
3      322.0        110.0                3.0  3.5  2.5  8.67         1
4      314.0        103.0                2.0  2.0  3.0  8.21         0
5      330.0        115.0                5.0  4.5  3.0  9.34         1

In [13]:
y.head()

0    1
1    1
3    1
4    0
5    1
Name: chance, dtype: int32

In [14]:
x.shape

(460, 7)

In [15]:
y.shape

(460,)

In [16]:
from sklearn.model_selection  import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state =42)

In [17]:
print(x_train.shape)

(368, 7)

In [18]:
print(x_test.shape)

(92, 7)

In [19]:
# Fitting SVC Classification to the Training set with linear kernel
from sklearn.svm import SVC
#svcclassifier = SVC()
svcclassifier = SVC(kernel = 'linear', random_state = 1)
svcclassifier.fit(x_train, y_train)
y_pred=svcclassifier.predict(x_test)

In [20]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))
print(svcclassifier.predict(x_test))

0.9456521739130435
[1 1 0 0 0 0 0 0 1 1 0 1 0 1 0 1 0 0 0 1 0 1 0 1 1 0 1 0 1 1 0 1 0 0 0 0 1
 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 1
 1 0 1 0 1 1 0 1 0 1 0 0 1 0 0 0 1 1]

In [21]:
y_pred = svcclassifier.predict(x_test)
from sklearn import metrics
confusion = metrics.confusion_matrix(y_test, y_pred)
print(confusion)
#[row, column]
TN = confusion[1, 1]
FP = confusion[1, 0]
FN = confusion[0, 1]
TP = confusion[0, 0]

[[51  3]
 [ 2 36]]

In [22]:
sensitivity = TP / float(FN+TP)
sensitivity

specificity = TN / float(TN+FP)
specificity
precision = TP / float(TP+FP)
precision

print("precision :",precision)
print("PRECISION SCORE :",metrics.precision_score(y_test, y_pred))
print("RECALL SCORE :", metrics.recall_score(y_test, y_pred))
print("F1 SCORE :",metrics.f1_score(y_test, y_pred))

precision : 0.9622641509433962
PRECISION SCORE : 0.9230769230769231
RECALL SCORE : 0.9473684210526315
F1 SCORE : 0.935064935064935

In [23]:
# Saving the  model as a pickle file
import pickle
pickle_file = open("svm_model.pkl","wb")
pickle.dump(svcclassifier, pickle_file)
pickle_file.close()